In [1]:
%load_ext sql
%sql postgresql://postgres:123@localhost/countries

In [2]:
%%sql

SELECT *
    FROM countries
    LIMIT 5;

 * postgresql://postgres:***@localhost/countries
5 rows affected.

[('AFG', 'Afghanistan', 'Asia', 'Southern and Central Asia', 652090.0, 1919, 'Afganistan/Afqanestan', 'Islamic Emirate', 'Kabul', 69.1761, 34.5228),
 ('NLD', 'Netherlands', 'Europe', 'Western Europe', 41526.0, 1581, 'Nederland', 'Constitutional Monarchy', 'Amsterdam', 4.89095, 52.3738),
 ('ALB', 'Albania', 'Europe', 'Southern Europe', 28748.0, 1912, 'Shqiperia', 'Republic', 'Tirane', 19.8172, 41.3317),
 ('DZA', 'Algeria', 'Africa', 'Northern Africa', 2381740.0, 1962, 'Al-JazaÂ’ir/Algerie', 'Republic', 'Algiers', 3.05097, 36.7397),
 ('ASM', 'American Samoa', 'Oceania', 'Polynesia', 199.0, None, 'Amerika Samoa', 'US Territory', 'Pago Pago', -170.691, -14.2846)]

In [3]:
%%sql

SELECT *
    FROM populations
    LIMIT 5;

 * postgresql://postgres:***@localhost/countries
5 rows affected.

[(20, 'ABW', 2010, 1.704, 74.95354, 101597.0),
 (19, 'ABW', 2015, 1.647, 75.573586, 103889.0),
 (2, 'AFG', 2010, 5.746, 58.97083, 27962208.0),
 (1, 'AFG', 2015, 4.653, 60.71717, 32526562.0),
 (12, 'AGO', 2010, 6.416, 50.65417, 21219954.0)]

In [4]:
%%sql

SELECT *
    FROM currencies
    LIMIT 5;

 * postgresql://postgres:***@localhost/countries
5 rows affected.

[(1, 'AFG', 'Afghan afghani', 'AFN', 'Pul', 100.0),
 (2, 'ALB', 'Albanian lek', 'ALL', 'Qindarke', 100.0),
 (3, 'DZA', 'Algerian dinar', 'DZD', 'Santeem', 100.0),
 (4, 'AND', 'Euro', 'EUR', 'Cent', 100.0),
 (5, 'AGO', 'Angolan kwanza', 'AOA', 'Centimo', 100.0)]

In [5]:
%%sql

SELECT *
    FROM economies
    LIMIT 5;

 * postgresql://postgres:***@localhost/countries
5 rows affected.

[(1, 'AFG', 2010, 'Low income', 539.667, 37.133, 2.179, 30.402, None, 46.394, 24.381),
 (2, 'AFG', 2015, 'Low income', 615.091, 21.466, -1.549, 18.602, None, -49.11, -7.294),
 (3, 'AGO', 2010, 'Upper middle income', 3599.27, 23.534, 14.48, 14.433, None, -3.266, -21.076),
 (4, 'AGO', 2015, 'Upper middle income', 3876.2, -0.425, 10.287, 9.552, None, 6.721, -21.778),
 (5, 'ALB', 2010, 'Upper middle income', 4098.13, 20.011, 3.605, 31.305, 14.0, 10.645, -8.013)]

In [6]:
%%sql
-- 2010 yılında, hayat beklentisinin en düşük olduğu 5 ülke (ülke ismi,hayat beklentisi)
SELECT
    c.name AS "Country Name",
    p.life_expectancy AS "Life Expectancy"
    FROM countries AS c
        INNER JOIN populations AS p
        ON c.code=p.country_code
WHERE p.year = 2010
ORDER BY "Life Expectancy"
LIMIT 5;

 * postgresql://postgres:***@localhost/countries
5 rows affected.

[('Lesotho', 47.483414),
 ('Central African Republic', 47.625317),
 ('Sierra Leone', 48.22895),
 ('Swaziland', 48.345757),
 ('Zimbabwe', 49.574657)]

In [7]:
%%sql
-- Güney Avrupa'daki ülkelerin kullandığı para birimleri
SELECT name AS country, basic_unit
FROM countries
  INNER JOIN currencies
    USING (code)
WHERE region = 'Southern Europe'
ORDER BY region;

 * postgresql://postgres:***@localhost/countries
12 rows affected.

[('Albania', 'Albanian lek'),
 ('Andorra', 'Euro'),
 ('Bosnia and Herzegovina', 'Bosnia and Herzegovina convertible mark'),
 ('Croatia', 'Croatian kuna'),
 ('Gibraltar', 'Gibraltar pound'),
 ('Greece', 'Euro'),
 ('Italy', 'Euro'),
 ('Malta', 'Euro'),
 ('Portugal', 'Euro'),
 ('San Marino', 'Euro'),
 ('Slovenia', 'Euro'),
 ('Spain', 'Euro')]

In [8]:
%%sql
-- 2010 yılındaki kıtaların nüfusları
SELECT
    c.continent AS "Continent",
    SUM(p.size) AS "Total Population"
    FROM countries_plus AS c
    LEFT JOIN populations AS p
    ON c.code = p.country_code
WHERE p.year=2010
GROUP BY "Continent"
ORDER BY "Total Population" DESC;

 * postgresql://postgres:***@localhost/countries
6 rows affected.

[('Asia', 4142357800.0),
 ('Africa', 1031851970.0),
 ('Europe', 706944830.0),
 ('North America', 545151940.0),
 ('South America', 396848350.0),
 ('Oceania', 36228388.0)]

In [9]:
%%sql
-- 2010 yılındaki kıtaların nüfusları
SELECT
    c.continent AS "Continent",
    SUM(p.size) AS "Total Population"
    FROM populations AS p
    RIGHT JOIN countries_plus AS c
    ON c.code = p.country_code
WHERE p.year=2010
GROUP BY "Continent"
ORDER BY "Total Population" DESC;

 * postgresql://postgres:***@localhost/countries
6 rows affected.

[('Asia', 4142357800.0),
 ('Africa', 1031851970.0),
 ('Europe', 706944830.0),
 ('North America', 545151940.0),
 ('South America', 396848350.0),
 ('Oceania', 36228388.0)]

In [10]:
%%sql
-- Kuzey Amerikada veya hangi kıtada olduğu bilinmeyen ülkelerin,isimleri,ülke kodları,bulunduğu kıta ve para birimleri
SELECT name AS country, code, region, basic_unit
FROM countries
  FULL JOIN currencies
    USING (code)
WHERE region = 'North America' OR region IS null 
ORDER BY region;

 * postgresql://postgres:***@localhost/countries
17 rows affected.

[('Canada', 'CAN', 'North America', 'Canadian dollar'),
 ('United States', 'USA', 'North America', 'United States dollar'),
 ('Bermuda', 'BMU', 'North America', 'Bermudian dollar'),
 ('Greenland', 'GRL', 'North America', None),
 (None, 'TMP', None, 'United States dollar'),
 (None, 'FLK', None, 'Falkland Islands pound'),
 (None, 'AIA', None, 'East Caribbean dollar'),
 (None, 'NIU', None, 'New Zealand dollar'),
 (None, 'ROM', None, 'Romanian leu'),
 (None, 'SHN', None, 'Saint Helena pound'),
 (None, 'SGS', None, 'British pound'),
 (None, 'TWN', None, 'New Taiwan dollar'),
 (None, 'WLF', None, 'CFP franc'),
 (None, 'MSR', None, 'East Caribbean dollar'),
 (None, 'IOT', None, 'United States dollar'),
 (None, 'CCK', None, 'Australian dollar'),
 (None, 'COK', None, 'New Zealand dollar')]

In [11]:
%%sql
-- Suriye'nin 2010 ve 2015 yıllarındaki enflasyonu
SELECT 
    c.name,
    e.year,
    e.inflation_rate
    FROM economies AS e
    FULL JOIN countries AS c
    USING(code)
WHERE c.name = 'Syria';

 * postgresql://postgres:***@localhost/countries
2 rows affected.

[('Syria', 2010, 4.398), ('Syria', 2015, None)]

In [12]:
%%sql

SELECT 
    c.name AS city,
    l.name AS language
    FROM cities AS c        
    CROSS JOIN languages AS l
WHERE c.name = 'London'
LIMIT 10;

 * postgresql://postgres:***@localhost/countries
10 rows affected.

[('London', 'Dari'),
 ('London', 'Pashto'),
 ('London', 'Turkic'),
 ('London', 'Other'),
 ('London', 'Albanian'),
 ('London', 'Greek'),
 ('London', 'Other'),
 ('London', 'unspecified'),
 ('London', 'Arabic'),
 ('London', 'French')]

In [13]:
%%sql

SELECT continent
    FROM countries
UNION
SELECT continent
    FROM countries_plus;

 * postgresql://postgres:***@localhost/countries
6 rows affected.

[('Oceania',),
 ('Asia',),
 ('North America',),
 ('South America',),
 ('Africa',),
 ('Europe',)]

In [14]:
%%sql

SELECT continent
    FROM countries
UNION ALL
SELECT continent
    FROM countries_plus;

 * postgresql://postgres:***@localhost/countries
412 rows affected.

[('Asia',),
 ('Europe',),
 ('Europe',),
 ('Africa',),
 ('Oceania',),
 ('Europe',),
 ('Africa',),
 ('North America',),
 ('Asia',),
 ('South America',),
 ('Asia',),
 ('North America',),
 ('Oceania',),
 ('Asia',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('North America',),
 ('Europe',),
 ('North America',),
 ('Africa',),
 ('North America',),
 ('Asia',),
 ('South America',),
 ('Europe',),
 ('Africa',),
 ('South America',),
 ('Europe',),
 ('North America',),
 ('Asia',),
 ('Europe',),
 ('Africa',),
 ('Africa',),
 ('North America',),
 ('South America',),
 ('North America',),
 ('Africa',),
 ('North America',),
 ('North America',),
 ('South America',),
 ('Africa',),
 ('North America',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Africa',),
 ('Oceania',),
 ('Asia',),
 ('Europe',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('North America',),
 ('North America',),
 ('Oceania',),
 ('North America',),
 ('Africa',),
 ('Africa',),
 ('South America',),
 ('North America',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Africa',),
 ('North America',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Oceania',),
 ('South America',),
 ('Africa',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Africa',),
 ('Europe',),
 ('Europe',),
 ('Europe',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Oceania',),
 ('Africa',),
 ('Africa',),
 ('North America',),
 ('Oceania',),
 ('Europe',),
 ('Europe',),
 ('Asia',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Oceania',),
 ('Asia',),
 ('North America',),
 ('Africa',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Oceania',),
 ('North America',),
 ('Oceania',),
 ('South America',),
 ('South America',),
 ('Oceania',),
 ('Europe',),
 ('North America',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Europe',),
 ('Oceania',),
 ('Africa',),
 ('Europe',),
 ('North America',),
 ('North America',),
 ('North America',),
 ('Europe',),
 ('Oceania',),
 ('Africa',),
 ('Oceania',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('South America',),
 ('Africa',),
 ('Europe',),
 ('Asia',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('Asia',),
 ('Africa',),
 ('Oceania',),
 ('North America',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('North America',),
 ('Oceania',),
 ('Africa',),
 ('Europe',),
 ('Europe',),
 ('South America',),
 ('Oceania',),
 ('Oceania',),
 ('Asia',),
 ('Europe',),
 ('Oceania',),
 ('South America',),
 ('Europe',),
 ('Asia',),
 ('Europe',),
 ('North America',),
 ('North America',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('Africa',),
 ('Oceania',),
 ('Europe',),
 ('Africa',),
 ('North America',),
 ('Asia',),
 ('South America',),
 ('Asia',),
 ('North America',),
 ('Oceania',),
 ('Asia',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('North America',),
 ('Europe',),
 ('North America',),
 ('Africa',),
 ('North America',),
 ('Asia',),
 ('South America',),
 ('Europe',),
 ('Africa',),
 ('South America',),
 ('Europe',),
 ('North America',),
 ('Asia',),
 ('Europe',),
 ('Africa',),
 ('Africa',),
 ('North America',),
 ('South America',),
 ('North America',),
 ('Africa',),
 ('North America',),
 ('North America',),
 ('South America',),
 ('Africa',),
 ('North America',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Africa',),
 ('Oceania',),
 ('Asia',),
 ('Europe',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('North America',),
 ('North America',),
 ('Oceania',),
 ('North America',),
 ('Africa',),
 ('Africa',),
 ('South America',),
 ('North America',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Africa',),
 ('North America',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Oceania',),
 ('South America',),
 ('Africa',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('North America',),
 ('Asia',),
 ('Asia',),
 ('Asia',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Africa',),
 ('Europe',),
 ('Europe',),
 ('Europe',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Oceania',),
 ('Africa',),
 ('Africa',),
 ('North America',),
 ('Oceania',),
 ('Europe',),
 ('Europe',),
 ('Asia',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Oceania',),
 ('Asia',),
 ('North America',),
 ('Africa',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('Oceania',),
 ('North America',),
 ('Oceania',),
 ('South America',),
 ('South America',),
 ('Oceania',),
 ('Europe',),
 ('North America',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Europe',),
 ('Oceania',),
 ('Africa',),
 ('Europe',),
 ('North America',),
 ('North America',),
 ('North America',),
 ('Europe',),
 ('Oceania',),
 ('Africa',),
 ('Oceania',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Africa',),
 ('Africa',),
 ('Asia',),
 ('Europe',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('South America',),
 ('Africa',),
 ('Europe',),
 ('Asia',),
 ('Asia',),
 ('Africa',),
 ('Europe',),
 ('Asia',),
 ('Africa',),
 ('Oceania',),
 ('North America',),
 ('Africa',),
 ('Europe',),
 ('Africa',),
 ('Asia',),
 ('Asia',),
 ('North America',),
 ('Oceania',),
 ('Africa',),
 ('Europe',),
 ('Europe',),
 ('South America',),
 ('Oceania',),
 ('Oceania',),
 ('Asia',),
 ('Europe',),
 ('Oceania',),
 ('South America',),
 ('Europe',),
 ('Asia',),
 ('Europe',),
 ('North America',),
 ('North America',),
 ('Africa',),
 ('Asia',)]

In [15]:
%%sql

SELECT continent
    FROM countries
INTERSECT
SELECT continent
    FROM countries_plus;

 * postgresql://postgres:***@localhost/countries
6 rows affected.

[('Africa',),
 ('Asia',),
 ('South America',),
 ('North America',),
 ('Europe',),
 ('Oceania',)]

In [16]:
%%sql
-- Aynı elemanları içerdiklerinden dolayı sonuç kümesi boş.
SELECT continent
    FROM countries
EXCEPT
SELECT continent
    FROM countries_plus;

 * postgresql://postgres:***@localhost/countries
0 rows affected.

[]